.btn-blue { 
        background-color: #8A663F;
        border: 1px solid #8A663F;
        color: white;
        padding: 16px;
        font-weight: bold;
        text-decoration: none;
        border-radius: 6px;
        transition: 1s;    
        display: block;
        width: 30%;
        margin: 8px auto;

    }

.btn-blue:hover { 
        background-color: white;
        color: #8A663F;
        transition: 1s;
}