.cards {
  display:  grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
  flex-direction: column;
  padding: 0px 30px;
  margin: 50px 15px;
}

.card {
  background-color: #FFFBF5 ;
  padding: 2px;
  margin: 2px;
  text-align: center;
}

.card2 {
  background-color: #FFFBF5 ;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 6px 2px rgb(0 0 0 / 40%);
  text-align: center;
}

.card3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
}